body {
    margin: auto;
}
* {  
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    display: flex;
    background-color: #2E948A;
    align-items: center;
    justify-content: space-between;
    padding: 20px 103px 26px 82px;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);

}
header nav ul {
    display: flex;
    list-style: none;
    text-transform: uppercase;
}
header nav ul li {
    padding: 0px 30px;
}
header nav ul li a {
    text-decoration: none;
    color: #FDFDFD;
    font-weight: 700;
    font-size: 18px;
}
footer {
    display: flex;
    background-color: #419488;
    align-items: center;
    justify-content: space-between;
    padding: 20px 103px 26px 82px;
}
footer img {
    padding: 0px 70px;
}
#lista {
    text-decoration: none;
    list-style: none;
    padding: 0px 30px 0px 0px;
    line-height: 25px;
}
#lista a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
}
.footer-link1 {
    box-sizing: border-box;
    border: 2px solid #FFFFFF;
    border-radius: 62px;
    padding: 10px 50px;
    text-align: center;
    color: #FFFFFF;
    font-size: 18px;
}
.footer-link1 a {
    list-style: none;
    text-decoration: none;
    color: #FFFFFF;
}
.footer-link2 {
    box-sizing: border-box;
    border: 2px solid #FFFFFF;
    border-radius: 62px;
    padding: 10px 50px;
    margin-top: 10px;
    text-align: center;
    color: #FFFFFF;
    font-size: 18px;
}
.footer-link2 a {
    list-style: none;
    text-decoration: none;
    color: #FFFFFF;
}
.section h2 {
    color: #FF4081;
    font-size: 60px;
    font-weight: 700;
    margin-top: 5%;
    margin-left: 5%;
}
.section p {
    color: #555555;
    font-size: 20px;
    font-weight: 400;
    margin-left: 5%;
}
.top1 {
    display: flex;
    padding-top: 90px;
    padding-left: 80px;
}
.top1 .cursos {
    padding: 20px 0px;
} 
.cursos {
    margin-right: 20px;
}
.cursos span {
    color: #FF4081;
    font-weight: 700;
    font-size: 35px;
    padding-left: 82px;
}
.cursos p {
    padding-top: 40px;
    padding: 50px;
    padding-left: 40px;
}
.button {
    padding: 40px 10px 0px 80px;
}
.button span{
    background-color: #419488;
    border-radius: 62px;
    box-sizing: border-box;
    cursor: pointer;
    padding: 0px 60px 10px 60px;
}    
.button a {
    color: #FFFFFF;  
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
}
.line {
    margin: 50px 50px;
    padding: 0px 50px;
}
.img {
    margin-bottom: 8%;
    
}
