body {
    margin: auto;
}
* {  
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    background-color: #2E948A;
    align-items: center;
    justify-content: space-between;
    padding: 20px 103px 26px 82px;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
}
header nav ul {
    display: flex;
    list-style: none;
    text-transform: uppercase;
}
header nav ul li {
    padding: 0px 30px;
}
header nav ul li a {
    text-decoration: none;
    color: #FDFDFD;
    font-weight: 700;
    font-size: 18px;
}
.topo-first{
    padding: 80px 206px 12px 50px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    display: block;
}
.content{
    display: flex;
    flex-direction: row-reverse;
}
.img {
    margin-left: 15%;
}
.titulo-topo{
    margin-left: 60px;
    margin-right: 20px;
}
.titulo-topo h1{
    margin-bottom: 20px;
    color: #ff4081;
    font-weight: 700;
    font-size: 60px;
    line-height: 68.94px;
}
.titulo-topo p{
    font-weight: 400;
    color: #555555;
    font-size: 27px;
    line-height: 31.02px;
    box-sizing: border-box;
    display: block;
    padding: 12px 0px 12px 0px;
}
.button-topo button{
    cursor: pointer;
    margin-top: 20px;
    border-radius: 62px;
    border: 2px solid #FF4081;
    padding: 10px 30px 10px 30px;
    background-color: #F7F7F7;
}
.button-topo a{
    text-decoration: none;
    color: #FF4081;
    font-size: 27px;
}
.img-three{
    margin-left: 25%;
}
.img-two{
    margin-left: 20%;
}
.img-one{
    margin-left: 20%;
}
.nova-caixa {
    display: flex;
    margin-top: 10%;
    padding: 100px;
    align-items: center;
    background: #F7F7F7;
}
.nova-caixa h2{
    color: #FF4081;
    font-weight: 700;
    font-size: 22px;
    margin-top: 35px;
    padding: 0px 0px 0px 60px;
}
.nova-caixa p{
    margin-left: 40px;
    margin-right: 15px;
    margin-top: 35px;
    font-size: 17px;
    line-height: 19.53px;
    font-weight: 300;
    text-align: center;
    padding-left: 20px;
}
.caixa-um button{
    width: 233px;
    height: 51px;
    margin-top: 45px;
    background-color: #FF4081;
    border-radius: 62px;
    border-color: #FF4081;
    cursor: pointer;
    font-weight: 400;
}
.botao {
    padding-left: 90px;
}
.middle-text {
    padding-left: 25px;
}
.caixa-um button span a{
font-weight: 20.27px;
padding: 20px;
color: #F7F7F7;
font-size: 20px;
text-decoration: none;
}
.container-testmony{
    padding: 60px;
}
.container-testmony h2{
    padding: 70px 0px 50px 70px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 37px;
    color: #009688;
}
#test-img{
    box-sizing: border-box;
    padding-left: 65px;
    border-radius: 50px;
}
.testmony-text{
    display: flex;
    margin-right: 30px;
    line-height: 30px;
    margin-bottom: 50px;
}
.grid{
    display: flex;
    padding-top: 20px;
    font-family: 'Nunito', sans-serif;
    font-family: 18px;
    font-weight: 300;
    color: #000000;
}
.testmony-text p{
    margin-left: 25px;
    flex-direction: row;  
}
.testmony-text span{    
    padding-top: 30px;
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
}
.last-section{
    background-color:#E5E5E5;
}
.content-more h2{
    font-weight: 700;
    font-size: 37px;
    padding: 90px 0px 0px 100px;
    color: #009688;
}
#more{
    display: flex;
    padding: 100px;
    background-color:#e5e5e5;
    
}
.content-one p{
    color: #009688;
    font-weight: 700;
    font-size: 27px;
}
.content-one span {
    line-height: 5px;
}
.content-one p span{
    color: #000000;
    font-weight: 400;
    font-size: 18px;
    line-height: 20.68px;
}
.last-button{
    padding-left: 40%;
    padding-bottom: 50px;
}
.last-button button{
    box-sizing: border-box;
    background-color: #E5E5E5;
    border: 2px solid #FF4081;
    border-radius: 62px;
    font-weight: 400;
    line-height: 29px;
    color: #FF4081;
    padding: 10px;
    cursor: pointer;
}
.last-button button span a{
    font-size: 25px;
    color: #FF4081;
    text-decoration: none;
}
footer {
    display: flex;
    background-color: #419488;
    align-items: center;
    justify-content: space-between;
    padding: 20px 103px 26px 82px;
}
footer img {
    padding: 0px 70px;
}
#lista {
    text-decoration: none;
    list-style: none;
    padding: 0px 30px 0px 0px;
    line-height: 25px;
}
#lista a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
}
.footer-link1 {
    box-sizing: border-box;
    border: 2px solid #FFFFFF;
    border-radius: 62px;
    padding: 10px 50px;
    text-align: center;
    color: #FFFFFF;
    font-size: 18px;
}
.footer-link1 a {
    list-style: none;
    text-decoration: none;
    color: #FFFFFF;
}
.footer-link2 {
    box-sizing: border-box;
    border: 2px solid #FFFFFF;
    border-radius: 62px;
    padding: 10px 50px;
    margin-top: 10px;
    text-align: center;
    color: #FFFFFF;
    font-size: 18px;
}
.footer-link2 a {
    list-style: none;
    text-decoration: none;
    color: #FFFFFF;
}