body {
    margin: auto;
}
* {  
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    display: flex;
    background-color: #2E948A;
    align-items: center;
    justify-content: space-between;
    padding: 20px 103px 26px 82px;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);

}
header nav ul {
    display: flex;
    list-style: none;
    text-transform: uppercase;
}
header nav ul li {
    padding: 0px 30px;
}
header nav ul li a {
    text-decoration: none;
    color: #FDFDFD;
    font-weight: 700;
    font-size: 18px;
}
footer {
    display: flex;
    background-color: #419488;
    align-items: center;
    justify-content: space-between;
    padding: 20px 103px 26px 82px;
}
footer img {
    padding: 0px 70px;
}
#lista {
    text-decoration: none;
    list-style: none;
    padding: 0px 30px 0px 0px;
    line-height: 25px;
}
#lista a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
}
.footer-link1 {
    box-sizing: border-box;
    border: 2px solid #FFFFFF;
    border-radius: 62px;
    padding: 10px 50px;
    text-align: center;
    color: #FFFFFF;
    font-size: 18px;
}
.footer-link1 a {
    list-style: none;
    text-decoration: none;
    color: #FFFFFF;
}
.footer-link2 {
    box-sizing: border-box;
    border: 2px solid #FFFFFF;
    border-radius: 62px;
    padding: 10px 50px;
    margin-top: 10px;
    text-align: center;
    color: #FFFFFF;
    font-size: 18px;
}
.footer-link2 a {
    list-style: none;
    text-decoration: none;
    color: #FFFFFF;
}
h1 {
    display: flex;
    margin-left: 20%;
    font-weight: 500;
    font-size: 50px;
    padding-top: 111px;
    color: #FF4081;
}
article {
    display: flex;
    justify-content: center;
    color: #9D9D9D;
    font-weight: 300;
    font-size: 18px;
    padding-top: 5px;
    
}
#banner {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    padding: 40px;
}
#container {
    font-weight: 300;
    padding: 0px 170px 0px 170px;
}
#container p {
    color: #419488;
    font-size: 26px;
    font-weight: 500;
}
.img-three{
    margin-left: 25%;
}
.img-two{
    margin-left: 20%;
}
.img-one{
    margin-left: 20%;
}
.nova-caixa {
    background: #F7F7F7;
    margin-top: 10%;
}
.nova-caixa h1 {
    justify-content: center;
    padding-right: 250px;
}
.nova-caixa-dois {
    display: flex;
    padding: 100px;
    align-items: center;
}
.nova-caixa-dois h2{
    color: #FF4081;
    font-weight: 700;
    font-size: 22px;
    margin-top: 35px;
    padding: 0px 0px 0px 60px;
}
.nova-caixa-dois p{
    margin-left: 40px;
    margin-right: 15px;
    margin-top: 35px;
    font-size: 17px;
    line-height: 19.53px;
    font-weight: 300;
    text-align: center;
    padding-left: 20px;
}
.caixa-um button{
    width: 233px;
    height: 51px;
    margin-top: 45px;
    background-color: #FF4081;
    border-radius: 62px;
    border-color: #FF4081;
    cursor: pointer;
    font-weight: 400;
}
.botao {
    padding-left: 90px;
}
.middle-text {
    padding-left: 25px;
}
.caixa-um button span a{
font-weight: 20.27px;
padding: 20px;
color: #F7F7F7;
font-size: 20px;
text-decoration: none;
}